<div class="modal-header">
    <h5 class="modal-title pull-left">Insert Person</h5>
    <button type="button" class="close pull-right" placement="bottom" ngbTooltip="Close" triggers="hover"
        (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="addForm">

        <div class="form-group">
            <label class="col-form-label required">First Name</label>
            <input type="text" formControlName="FirstName" maxlength="50" class="form-control"
                placeholder="Enter First Name" [ngClass]="{ 'is-invalid':submitted && f.FirstName.errors }" />
            <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                <div *ngIf="f.FirstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label required">Last Name</label>
            <input type="text" formControlName="LastName" maxlength="50" class="form-control"
                placeholder="Enter Last Name" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
            <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                <div *ngIf="f.LastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label required">Email Address</label>
            <input type="text" formControlName="EmailAddress" maxlength="50" class="form-control"
                placeholder="Enter EmailAddress" [ngClass]="{ 'is-invalid': submitted && f.EmailAddress.errors }" />
            <div *ngIf="submitted && f.EmailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.EmailAddress.errors.pattern">Invalid Email</div>
            </div>
        </div>
        <div class="form-group">
            <label>User Role</label>
            <ng-select [items]="UserRoleData" formControlName="UserRole" [virtualScroll]="true" bindLabel="UserRole"
                bindValue="UserRole" placeholder="Enter User Role" (change)="onRoleSelectionChange($event)">
            </ng-select>
        </div>
        <div class="form-group" *ngIf="this.userRole == 'User'">
            <label>Attached Customer Id</label>
            <input type="number" formControlName="AttachedCustomerId" maxlength="50" class="form-control"
                placeholder="Enter Customer Id" />
        </div>
        <div class="form-group" *ngIf="this.userRole == 'User'">
            <label>User Group </label>
            <ng-select [items]="userGroupData" formControlName="UserGroupId" [virtualScroll]="true"
                bindLabel="UserGroupName" bindValue="UserGroupId" placeholder="Enter User Group"
                (change)="onGroupSelectionChange($event)">
            </ng-select>
        </div>
        <div class="form-group" *ngIf="this.userRole == 'Admin'">
            <label>Privileges</label>
            <div *ngFor="let data of privilegesData">
                <input type="checkbox" formControlName="PrivilegeName" class="form-control"
                    placeholder="Enter Customer Id" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="float-right">
        <button type="button" class="btn btn-square btn-sm btn-outline-danger" (click)="activeModal.dismiss()"
            placement="bottom" ngbTooltip="Close"><i class="fa fa-ban"></i> Cancel</button>
        <button type="button" class="btn btn-square btn-sm btn-outline-primary ml-2" (click)="onSubmit()"
            placement="bottom" ngbTooltip="Save"><i class="fa fa-save"></i> Save</button>
    </div>
</div>